<!DOCTYPE html>
<html lang="en" xmlns:th="http.//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
</head>
  <body>
    <h3>My Blog Application</h3><br>
        <a th:href="@{/post/showPostForm}">New Post</a>
        <!-- Add Search Box-->
        <form th:action="@{/post/search}" method="get">
            <!--<select name="searchField" id="searchField">
                <option value="Title">Title</option>
                <option value="Author">Author</option>
                <option value="Content">Content</option>
                <option value="Tags">Tags</option>
            </select>-->
            <input type="text" name="searching"/>
            <button type="submit">Search</button>
        </form>

        <!--<form th:action="@{/post/fetch}" method="get">

        </form>-->

        <div th:each="tempData : ${postLists}">
            <p th:text="${tempData.title}"></p> <p th:text="${tempData.author}"></p>
            <p th:text="${tempData.content}"></p> <p th:text="${tempData.publishTime}"></p>
          <div>
            <form action="#" th:action="@{/post/showFormForUpdate}" method="post">
                <input type="hidden" name="postId" th:value="${tempData.id}" />
                <button type="submit">Update</button>
            </form>
          </div>
            <!-- <a th:href="@{/post/delete(postId=${tempData.id}})}"
                 onclick="if(!(confirm('Are you sure you want to delete this post?'))) return false"> Delete </a> -->
          <div>
            <form action="#" th:action="@{/post/delete}" method="post">
                <input type="hidden" name="postId" th:value="${tempData.id}">
                <button type="submit"
                        onclick="if(!(confirm('Are you sure you want to delete post?'))) return false">Delete</button>
            </form>
          </div>
        </div>
  </body>
</html>