<!DOCTYPE html>
<html lang="en" xmlns:th="http.//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
</head>
<body>
    <h3>Blog Application</h3><br>
    <div th:each="searchData : ${searchList}">
        <p th:text="${searchData.title}"></p> <p th:text="${searchData.excerpt}"></p>
        <p th:text="${searchData.content}"></p> <p th:text="${searchData.author}"></p>
        <hr>
    </div>
    <a th:href="@{/post/}">Blog List Page</a>
</body>
</html>