<!DOCTYPE html>
<html lang="en" xmlns:th="http.//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
</head>
<body>
<h3>My Blog Application</h3><br>
<form action="#" th:action="@{/comments/saveComment}" th:object="${commentForm}" method="post">
    <!-- Add hidden id field -->
    <input type="hidden" th:field="*{id}"/><br>
    <input type="text" th:field="*{name}" placeholder="Name"><br><br>
    <input type="text" th:field="*{email}" placeholder="Email"><br><br>
    <input type="text" th:field="*{comment}" placeholder="Comment"><br><br>
    <button type="submit">Comment</button><br>
</form>
<hr>
<a th:href="@{/comments/showComments}">Blog List Page</a>
</div>
</body>
</html>